<% Book.all.each do |book| %>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= image_from_amazon book.amazon_id %>
      <div class="caption">
        <h4><%= book.title %></h4>
        <p style="font-size: 13px;"><%= book.author %></p>
        <p><%= truncate(book.description, length:100) %></p>
        <p><a href="#" class="btn btn-primary" role="button">Rate this book</a></p>
      </div>
    </div>
  </div>
<% end  %>
