
<script type="text/javascript">
  <%= render 'index.js.erb'%>
</script>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Livros</h3>
    </div>
</div>

<hr>

<!-- Page Features -->
<div class="row text-center">
  <%= render @books %>
</div>

<%= render 'shared/paginate', resources: @books %>
