
<script type="text/javascript">
  <%= render 'index.js.erb'%>
</script>
<!-- Title -->
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info" role="alert">
      Caso não tenha encontrado algum livro em específico,
      clique <%= link_to 'aqui', new_book_path, class: 'new_book' %>
      para cadastrá-lo no catálogo.
    </div>
  </div>
</div>

<hr>

<!-- Page Features -->
<div class="row text-center" id="index_books">
  <%= render @books %>
</div>

<%= render 'shared/paginate', resources: @books %>
