<tr>
  <td> <%= category.name %> </td>
  <td> <%= link_to 'Editar', edit_category_path(category),class: "btn btn-primary" %> </td>
  <td> <%= link_to 'Remover', category, class: "btn btn-primary",method: :delete, data: { confirm: "Tem certeza disso?" } %> </td>
</tr>
