<%if record.errors.any?%>
  <div class="error-messages">
    <p>
      Verifique o Formulário abaixo:
    </p>

    <ul>
      <% for message in record.errors.full_messages %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
